*{
    background-color: aqua;
}

h1{
    background-color: aliceblue;
}

.kuchbhi{
    background-color: chocolate;

}

#submitButton{
    background-color: rgb(99, 50, 0);
}

p{
    color: brown;
}


.DP{
    background-color: yellow;
    color: darkorange;
}
