body{
    background-color: rgb(177, 217, 255);
}

.main{
    background-color: beige;
    color: brown;
    width: 500px;
    height: 300px;
}

#card {
    background-color: beige;

    h5{
        color: black;
    }
}

#card p{
    border: 15px groove rgb(184, 130, 130);
    height: 400px;
    width: 600px;
    overflow: auto;
}

#clickbutton{
    width: 100px;
    height: 50px;


    background-color: rgb(174, 255, 174);
    /* border: 1px color(srgb red green blue); */

    border-color: green;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgb(107, 107, 107);
}

#clickbutton:active{
    background-color: green;
    color: rgb(255, 220, 220);
}

#clickbutton:hover{
    background-color: white;
    color: green;
}

